body {font-family: "Calibri" sans-serif; height: 100%;}
.container {background: #ffffff;  padding-top: 5px; color: #333366;}

h1 {margin: 5px; text-align: right; color: #377D8B;}

p.intro {border-radius: 4px; 
	background-color: #3F8D9D; 
	color: #fff; 
	padding: 7px 15px;
	margin-top: 5px;
	font-size: 1.5em;
	border: 1px solid #3F8D9D;}

p a, td a, h4 a {color: #3F8D9D;}
p a:hover, td a:hover, h4 a:hover {color: #295C66;}

.yf {cursor: pointer;}

.pslink{
	color:#3F8D9D;
	text-decoration: none;
	cursor:pointer;
}
.pshover{
	color: #295C66;
	text-decoration: underline;
}

.bbg {background-color: #F8FCFC; padding: 1px 0;}

.lob3, .lob2, .lob1 {background-color: #fff;}

.ind35 {padding-left: 35px; }

p.lal {padding-bottom: 3px; border-bottom: 1px solid #C1E1E6;}

ol li {margin-bottom: 10px; margin-left: 10px;}
ol.normal li {margin-bottom: 2px; margin-left: 10px;}

img.alk {padding: 0px 5px 2px 8px;}
img.right {float: right;}

h2 {font-size: 1.35em;
	color: #003E74; letter-spacing: 0.025em;
	background-color: #E7ECF1; padding: 8px 10px 9px 10px;
	border-radius: 5px;
	margin-top: 0;}

h5.ins {font-size: 1.2em; color: #0072CF;}

h5.la {font-size: 1.15em; padding-top: 10px; border-top: 1px solid #ECF4FB; margin-left: 10px;}

h4.jtlink {font-size: 1.35em; padding-top: 10px; border-top: 1px solid #ECF4FB; border-bottom: 1px solid #ECF4FB; text-align: center; padding: 8px;}

strong span.b16 {font-size: 1.4em; margin-left: 3px;}

strong.ftitle {font-size: 1.25em;}

.big {font-size: 1.15em;}

.panel-default {
  background-color: #fff;
  border: none;
}

.la {border-top: 1px solid #ECF4FB;}
.bla {border-top: 1px solid #377D8B;}



#aess .cent {text-align: center;}
img.ae {max-width: 250px; }

.blink {float: right; margin: 5px 3px 0 0; font-size: 0.75em; font-weight: normal;}
.blink a{color: #ffffff; text-decoration: none;}
.blink a:hover {color: #D7D6D6; text-decoration: underline;}

.panel-default > .panel-heading{
  color: #295C66; 
  font-weight: bold;
  background-color: #C1E1E6;
  border: 1px solid #AFD8DF;
  border-radius: 4px;
}

/*  links  */
a.icon-ocw {
	background: url(../img/icon-ocw.png) no-repeat 0 0;
	padding: 0 0 2px 2em;
}

p.ocw {font-size: 0.85em; float: right; margin-top: 8px; margin-right: 8px;}

img.ocw {float: right; margin: 0 -2px 0 2px;}

a.lang-title:link h4, a.lang-title:visited h4 {color: #3F8D9D; padding-top: 10px; margin-bottom: 2px;}
a.lang-title:hover h4 {color: #295C66;}

/*  end links  */

table.lists {margin: -2px auto 10px;  width: 100%; padding: 5px 2px 5px 10px; 
		background: #FFF; }
table.lists td {padding: 5px;}
table.lists td.lb {border-bottom: 1px solid #C3DDF3;}
table.lists td.lt {font-size: 1.1em; background-color: #E6F4F4;}


ul.lev {list-style-type: none;}
ul.lev li{margin-bottom: 5px;}
ul li a:hover {color: #0072CF;}

h4.panel-title  {letter-spacing: 0.05em; font-size: 1.3em;}

audio {margin: 5px 0 10px 5px;}

p.goto {float: right; margin-right: 10px;}
p.gotob {float: right; margin-right: 20px; font-weight: bold; font-size: 1.1em;}


/* footer */

	
	#footer {background-color: #9DCFD8;
		margin-top: 10px;
		padding: 0 0 30px 0;
		color: #377D8B;
		height: 50.625vw; /* ratio = 9/16 * 90 = 50.625 */
		max-height: 20vh;
		}

	#footer p.copy a{
		font-size:0.9em;
		color: #306C78;
		
	}

	#footer p.cright {
		font-size:0.9em;
		float: right;
		margin-top: -28px;
		margin-right: 10px;
	}

	#footer p.ncright {
		font-size:0.9em;
		float: right;
		margin-top: -28px;
		margin-right: 50px;
	}

	#footer p.ncright a{
		color: #306C78;
	}

	#footer p.cright a{
		color: #306C78;
	}

	@media (min-width: 200px) {
	  #footer {padding: 0 20px 20px 20px;
	  }
	}

	@media (min-width: 200px) {
		#footer p.copy {
		margin-top: 15px;
		}
	}


	@media (min-width: 600px) {
	  #footer {padding: 0 25px 30px 25px;
	  }
	}

	@media (min-width: 600px) {
	  #footer p.copy {
		margin-top: 15px;
	  }
	}

	@media (max-width: 600px) {
	  #footer p.cright {
		margin-top: 3px;
		float: left;
	  }
	}

	@media (min-width: 892px) {
		#footer {padding: 0 30px 30px 30px;
		}
	}

	@media (min-width: 892px) {
	  #footer p.copy {
		margin-top: 15px;
	  }
	}

	

	@media (min-width: 1400px) {
	  #footer {padding: 0 60px 30px 60px;
	  }
	}

	@media (min-width: 1400px) {
	  #footer p.copy {
		margin-top: 15px;
	  }
	}